.root {}

.root.gaps {
  margin-top: 56px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .root.gaps {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.imageFrame {
  padding-bottom: 50%;
  position: relative;
  z-index: 0;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f5f9;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.controls {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFB104;
}

.controls > button + button {
  margin-left: 24px;
}

