.root {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .root {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bottom {
    padding-top: 40px;
  }
}

@media (min-width: 1440px) {
  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 56px;
  }

  .root {
    padding-bottom: 48px;
    padding-top: 56px;
  }
}

.navigation p {
  font-family: Halvar Mittel Lt, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.01em;
}

.navigation {
  padding-top: 33px;
}

.navigation a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.navigation p {
  margin: 0;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .navigation {
    padding-top: 0;
  }
}

.logoContainer {
  text-align: center;
}

.logoContainer > svg {
  height: 70px;
}

@media (min-width: 768px) {
  .logoContainer {
    text-align: left;
  }

  .logoContainer > svg {
    height: 62px;
  }
}

@media (min-width: 1440px) {
  .logoContainer {
    padding-right: 96px;
  }

  .logoContainer > svg {
    height: 95px;
  }
}

.collapse + .collapse {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .collapse {
    flex: 1 1 25%;
    padding-right: 64px;
  }

  .collapse:last-child {
    padding-right: 0;
  }

  .collapse + .collapse {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .collapse {
    padding-right: 83px;
  }
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links > li {
  font-size: 14px;
  line-height: 16px;
  font-family: var(--font-family-Halvar-Mittel-Lt), sans-serif;
  letter-spacing: 0.01em;
}

.links > li + li {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .links > li + li {
    margin-top: 24px;
  }
}

.ending {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .ending {
    border-top: 1px solid #404147;
    padding-top: 22px;
    margin-top: 22px;
    display: flex;
    align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .ending {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    flex-grow: 0;
    flex-direction: column;
  }
}

.award {
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
}

.award > img {
  vertical-align: top;
  width: 132px;
}

@media (min-width: 768px) {
  .award {
    margin-left: 25px;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .award {
    margin-left: 0;
    margin-top: 40px;
  }

  .award > img {
    width: 152px;
  }
}

.copyright {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #84858A;
  font-family: var(--font-family-Halvar-Mittel-Lt);
  letter-spacing: 0.1em;
  margin: 0;
}

@media (min-width: 768px) {
  .copyright {
    display: block;
  }
}

@media (min-width: 1440px) {
  .copyright {
    display: none;
  }
}

.formRoot {
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
}

.formHeading {
  text-align: center;
  margin-bottom: 32px;
}

.formContent {
}

@media (min-width: 1440px) {
  .formHeading {
    text-align: left;
  }

  .formContent {
    display: flex;
  }

  .formContent > div {
    flex: 0 0 50%;
  }

  .formContent > div:first-child {
    padding-right: 120px;
  }
}

.formRoot > .background {
  display: none;
  position: absolute;
  top: 0;
  width: 1164px;
  bottom: 0;
  right: 376px;
  opacity: 0.3;
  z-index: -1;
}

@media (min-width: 768px) {
  .formRoot > .background {
    display: block;
  }
}

@media (min-width: 1440px) {
  .formRoot > .background {
    right: 50%;
  }
}
