@import "../../variables";

$caseBreakpoint: 550px;
@mixin caseBreakpoint {
  @media (max-width: #{$caseBreakpoint}) {
    @content
  }
}

.caseElement {
  margin-left: auto;
  margin-right: auto;
  max-width: 435px;
  height: auto;
  @include caseBreakpoint {
    width: 100%;
  }

  .caseImage {
    @include caseBreakpoint {
      width: 100%;
    }
  }

  .techTitle {
    display: inline;
    font-size: 10px;
  }

  p {
    margin-top: 24px;
    @include l {
      max-width: 360px;
      font-size: 24px;
      font-weight: bold;
    }
    @include m {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .techLogo {
    margin-right: 5px;
  }
}
