.layout {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container.containerResetLeft,
.container.containerResetRight {
  margin: initial;
  padding: 0;
  max-width: initial;
}

.container.containerResetLeft {
  margin-left: -16px;
}

.container.containerResetRight {
  margin-right: -16px;
}

@media (min-width: 768px) {
  .container.containerResetLeft {
    margin-left: -40px;
  }

  .container.containerResetRight {
    margin-right: -40px;
  }
}

@media (min-width: 1440px) {
  .container.containerResetLeft {
    margin-left: -120px;
  }

  .container.containerResetRight {
    margin-right: -120px;
  }
}

.layout.fitParentHeight {
  height: 100%;
  min-height: 0;
}

.layout > .layout {
  flex-direction: row;
  background: none;
}

.content {
  flex-grow: 1;
  min-width: 0;
}

.footer {
  flex-grow: 0;
}

.header {
  flex-grow: 0;
}
