.btn {
  display: inline-block;
  padding: 10px 16px;
  box-sizing: border-box;
  border: none;
  background: #ffffff;
  border-radius: 4px;
  font-family: var(--font-family-Halvar-Breit-XBd);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #efb104;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out, background .4s ease-in-out;
  cursor: pointer;
  outline: 0;
}

.btn:not(.resetHover):hover {
  box-shadow: 0 0 92px #ffffff, 0 0 20px #ffffff;
}

.btn:not(.resetFocus):focus {
  border: 2px solid #2F9BFF;
  padding: 8px 14px;
}

.btn:disabled {
  background: #FFFFFF;
  color: #C5C7CD;
  cursor: default;
  box-shadow: none;
}

.btn.size_l {
  padding-top: 14px;
  padding-bottom: 14px
}

.btn.size_l:not(.resetFocus):focus {
  padding-top: 12px;
  padding-bottom: 12px
}

.btn.size_xl {
  padding: 18px 24px;
}

.btn.size_xl:not(.resetFocus):focus {
  padding: 16px 22px;
}

.btn.full {
  width: 100%;
}

.btn.responsiveFull {
  width: 100%;
}

@media (min-width: 768px) {
  .btn.responsiveFull {
    width: auto;
  }
}

.btn.theme_accent {
  background: #efb104;
  color: #ffffff;
}

.btn.theme_accent:hover {
  box-shadow: 0 0 92px #efb104, 0 0 20px #efb104;
}

.btn.theme_accent:focus {
  outline: 0;
  box-shadow: 0 0 0 #000000;
}

.btn.theme_accent:disabled {
  background: #EAEBEE;
  color: #C5C7CD;
  box-shadow: none;
}

.btn.theme_tabDark {
  background: transparent;
  color: #ffffff;
}

.btn.theme_tabDark:hover {
  background: hsla(0,0%,100%,.05);
}

.btn.theme_tabDark:active,
.btn.theme_tabDark:focus,
.btn.theme_tabDark.active {
  background: #efb104;
  color: #ffffff;
}
