.root {
  padding-top: 48px;
  padding-bottom: 48px;
}

.list {
  list-style: none;
  padding: 0 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -12px -8px;
}

.list > li {
  width: 152px;
  padding: 12px 8px;
}

.list > li > .photo {
  vertical-align: top;
  margin-bottom: 16px;
  height: 160px;
  transition: opacity ease 0.3s;
}

.list > li > .photo.photoHover {
  opacity: 0;
  margin-top: -176px;
}

.list > li:hover > .photo:not(.photoHover) {
  opacity: 0;
}

.list > li:hover > .photo.photoHover {
  opacity: 1;
}

.list > li > p:last-child {
  margin-top: 4px;
  color: #84858A;
}

.title {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .root {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .list {
    margin: -28px -12px;
  }

  .list > li {
    width: 306px;
    padding: 28px 12px;
  }

  .list > li > .photo {
    height: 331px;
  }

  .list > li > .photo.photoHover {
    margin-top: -347px;
  }

  .title {
    text-align: center;
    margin-bottom: 56px;
  }
}
