.row {

}

.row + .row {
  margin-top: 16px;
}

.row.responsive {

}

@media (min-width: 768px) {
  .row + .row {
    margin-top: 24px;
  }


  .row.responsive {
    display: flex;
    align-items: flex-start;
  }

  .row.responsive > .row {
    flex: 0 0 50%;
  }

  .row.responsive > .row + .row {
    margin-top: 0;
  }

  .row.responsive > .row:first-child {
    padding-right: 12px;
  }

  .row.responsive > .row:last-child {
    padding-left: 12px;
  }
}

.agree {
  color: #C5C7CD;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--font-family-Halvar-Mittel-Rg);
  display: flex;
  align-items: flex-start;
}

.agree > .checkbox {
  flex: 0 0 auto;
}

.agree > span {
  margin-left: 8px;
}

.agree a {
  color: #efb104;
  text-decoration: none;
}

.agree a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 32px;
}

.row > span:last-child {
  color: #FF2F2F;
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0;
}
