$Small: "576px";
$ExtraLarge: "1200px";

.item {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #54420f;
  h4 {
    font-size: 32px;
    width: 282px;
    line-height: 1.15;
    font-weight: bold;
    font-family: Halvar Breit Bd, sans-serif;
    color: #ffffff;
  }

  p {
    width: 435px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    font-family: Halvar Mittel Lt, sans-serif;
    color: #ffffff;
  }

  .arrow {
    display: none;
  }
}

.image {
  border-radius: 10px;
  width: 282px;
  height: 168px;
}

@media (min-width: $Small) {
  .item:hover {
    h4 {
      color: #FFF4D7;
      text-shadow: 0 0 92px #EFB104, 0 0 20px #EFB104;
    }
    .arrow {
      display: inherit;
      position: relative;
      left: -90px;
      top: -80px;
      height: 0;
    }
  }
  .arrowMobile {
    display: none;
  }
}

@media (max-width: $Small) {
  .item {
    h4 {
      font-size: 18px;
    }

    p {
      width: 288px;
      font-size: 16px;
    }
  }
  .arrow {
    display: none;
  }
  .arrowMobile {
    height: 0;
    padding-bottom: 10px;
  }
}

@media (max-width: $ExtraLarge) {
  .image {
    display: none;
  }
}
