@import "../variables";

.contactUsModal {
  padding: 32px;
  font-family: $HalvarMittelRg;
  font-size: 16px;

  h3 {
    font-family: $HalvarBreitXBd;
    font-size: 24px;
  }

  label {
    color: #C5C7CD;
  }

  input, textarea, input:focus, textarea:focus {
    height: 48px;
    font-size: 14px;
    background: #121213;
    margin-bottom: 16px;
    border-color: #404147;
    color: #84858A;
    border-radius: 4px;
  }

  textarea {
    min-height: 96px;
    max-height: 400px;
  }

  a {
    color: $color-yellow;
  }

  button {
    width: 100%;
    margin-top: 48px;
    @include m {
      width: auto;
    }
  }
}

.closeButton {
  cursor: pointer;
}

.privacyPolicy {
  input, input:focus {
    height: 16px;
    width: 16px;
    margin-top: 5px;
  }
  label {
    font-size: 14px;
    color: #84858A;
  }
}

.inputFile-box {
  position: relative;
  width: 100%;
  height: 48px;
  font-size: 14px;
  background: #121213;
  margin-bottom: 16px;
  color: #84858A;
  border: 1px solid #404147;
  border-radius: 4px;

  img {
    padding: 16px;
  }
}

.inputFile {
  display: none;
}

//.file-box {
//  display: inline-block;
//  width: 100%;
//  border: 1px solid;
//  padding: 5px 0px 5px 5px;
//  height: calc(2rem - 2px);
//  color: #FFFFFF;
//}

.file-button {
  //background: red;
  //padding: 5px;
  //position: absolute;
  //border: 1px solid;
  //top: 0px;
  //right: 0px;
}
