.h1 {
  font-family: var(--font-family-Halvar-Breit-XBd);
  margin-top: 0;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

.h2 {
  font-family: var(--font-family-Halvar-Breit-XBd);
  margin-top: 0;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 32px;
    line-height: 27px;
  }
}

@media (min-width: 1440px) {
  .h2 {
    font-size: 40px;
    line-height: 46px;
  }
}

.h4 {
  font-family: var(--font-family-Halvar-Breit-XBd);
  margin-top: 0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .h4 {
    font-size: 24px;
    line-height: 27px;
  }
}


.h1.black,
.h2.black,
.h3.black,
.h4.black {
  color: #1B1B1F;
}
