@import '../variables';

.casesWrapper {
  background: url("../../images/cases/line.svg") no-repeat 0 0;
  @include l_max {
    background: none;

  }

  .items {
    grid-row-gap: 50px;
  }

  padding-bottom: 80px;
  @include m_max {
    padding-top:0;
  }
}
