@import "src/components/variables";
.heading{
  padding-top: 150px;
}
.casesPadeDescriptionWrapper {
  @include l_max {
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
  }
}

.casesPageTitle {
  @include l_max {
    text-align: center;
  }
}

.casesPageDescription {
  max-width: 588px;
  @include l_max {
    max-width: 730px;
    text-align: center;
  }
  @include m_max {
    display: none;
  }
}

.casesContainer {
  background-size: cover;
  background: url("../images/cases/line.svg") no-repeat 44% 90%;
  @include l_max {
    background: none;

  }

  .items {
    grid-row-gap: 50px;
  }
}

.loadMore {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  @include m_max {
    width: 100%;
  }
}

