.top-section {
  padding: 225px 0;
}
.about-us {
  background: #EFB104;
}
.cases {
  background: #FFFFFF;
}
.grow {
  background: #EFB104;
  border-radius: 16px;
}
.testimonials {
  background: #FFFFFF;
}
