@import '../components/variables';

.ourWorkProcessHead {
  max-width: 650px;
  margin-top: 80px;
}

.ourWorkProcess {
  margin-top: 80px;

  h3 {
    font-size: 32px;
    font-family: $HalvarBreitBd;
    margin-top: 450px;
  }

  span {
    margin-right: 40px;
    color: $accent-color;
    text-shadow: none;
  }

  li {
    font-family: $HalvarMittelRg;
    color: $color-white;
    font-size: 18px;
    line-height: 140%;
  }
}

.ourWorkProcessLeftSide {
  margin-top: -450px;
  max-width: 384px;
  text-align: end;

  li {
    float: right;
  }
}

.ourWorkProcessCenterLine {
  max-width: 350px;
  text-align: center;
}

.ourWorkProcessRightSide {
  margin-top: -120px;
  max-width: 384px;
  text-align: start;

  ul {
    margin-bottom: -60px;
  }
}

@media (max-width: $Medium) {
  .heading {
    height: 360px;
  }

  .ourWorkProcessHead {
    margin-top: 40px;
  }

  .undisplayedOnMobile {
    display: none;
  }

  .container {
    h1 {
      font-size: 32px;
      margin-top: 60px;
      width: 288px;
    }
  }

  .ourWorkProcess {
    margin-top: 0;
    padding-bottom: 80px;

    h3 {
      font-size: 24px;
      margin-top: 56px;
    }

    p {
      font-size: 14px;
    }

    li {
      font-size: 14px;
      line-height: 140%;
    }
  }
}
