@import '../components/variables';

.services {
  @include l {
    background-size: cover;
    background: url("../images/Vector 17.svg") no-repeat 44% 150%;
  }

  .heading {
    height: 544px;
    background: linear-gradient(90.22deg, rgba(0, 0, 0, 0.8) 0.18%, rgba(0, 0, 0, 0) 99.8%), url("../images/services.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
    background-position-x: center;
  }

  h1 {
    @include l_max {
      position: static;
      font-size: 32px;
      line-height: 37px;
      margin-top: 0;
    }
  }
}

.title {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  margin-bottom: 70px;
  @include l_max {
    border-bottom: 1px solid #54420f;
    margin-bottom: 0;
  }

  h3 {
    font-size: 40px;
    line-height: 1.15;
    font-weight: bold;
    font-family: Halvar Breit Bd, sans-serif;
    color: $color-white;
    @include l_max {
      font-size: 24px;
    }
  }

  p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
    font-family: Halvar Mittel Lt, sans-serif;
    color: $color-white;
    width: 588px;
    @include l_max {
      font-size: 16px;
      width: 281px;
    }
  }
}
