@import '../components/variables';

.container {
  h4 {
    font-size: 18px;
    width: 588px;
    font-family: Halvar Mittel Lt, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}

.mainPage {
  background: url("../images/Vector 17.svg") no-repeat 70% -5%;
  padding-top: 120px;
  padding-bottom: 120px;

  h3 {
    font-size: 40px;
    font-family: Halvar Breit Bd, sans-serif;
    width: 435px;
  }
}

.pageDescription {
  h4 {
    width: 435px;
    font-family: Halvar Mittel Lt, sans-serif;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #212529;
  }

  h5 {
    width: 435px;
    margin-top: 112px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
  }

  h6 {
    width: 435px;
    margin-top: 16px;
    font-size: 18px;
    line-height: 140%;
    color: #212529;
  }
}

.technologiesStack {
  padding-top: 120px;
  padding-bottom: 120px;
}

.itemsContainer {
  max-width: 900px;
}

.workProcess {
  padding-top: 80px;
  max-width: 600px;
}

@media (max-width: $Small) {
  .container {
    h1 {
      font-size: 32px;
    }

    h4 {
      font-size: 16px;
      width: 288px;
    }
  }

  .mainPage {
    background: url("../images/Vector 17.svg") no-repeat 0 10%;
    padding-top: 48px;
    padding-bottom: 48px;

    h3 {
      font-size: 24px;
      width: 288px;
    }

    h4 {
      font-size: 18px;
      width: 288px;
    }

    h5 {
      margin-top: 48px;
      width: 288px;
    }

    h6 {
      margin-top: 48px;
      width: 288px;
    }
  }

  .workProcess {
    p {
      font-size: 18px;
    }
  }
}
