$Small: "576px";
$ExtraLarge: "1200px";

.services {
  background-size: cover;
  background: url("../images/Vector 17.svg") no-repeat 44% 150%;

  hr {
    opacity: 0.3;
    border: 1px solid #EFB104;
    margin-top: 32px;
  }
}

.title {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  margin-bottom: 70px;

  .container {
    position: relative;
    z-index: 2;
  }

  h3 {
    font-size: 40px;
    line-height: 1.15;
    font-weight: bold;
    font-family: Halvar Breit Bd, sans-serif;
    color: #ffffff;

    span {
      color: #FFF4D7;
      text-shadow: 0 0 92px #EFB104, 0 0 20px #EFB104;
    }
  }

  p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
    font-family: Halvar Mittel Lt, sans-serif;
    color: #ffffff;
    width: 588px;
  }
}

@media (max-width: $Small) {
  .services {
    background: none;
    h1 {
      position: static;
      width: 288px;
      height: 185px;
      left: 0;
      top: 0;
      font-size: 32px;
      line-height: 37px;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
      width: 281px;
    }
  }
  .title {
    border-bottom: 1px solid #54420f;
    margin-bottom: 0;
  }
}

@media (max-width: $ExtraLarge) {
  .services {
    background: none;
    h1 {
      font-size: 36px;
    }
  }
}
