$Small: "576px";
$ExtraLarge: "1200px";
.tech{
  background-size: cover;
  background: url("../images/technologies/back.svg") no-repeat 44% 90%;
}
.cardContainer{
  margin-top: 132px;
}
@media (max-width: $Small) {
  .cardContainer{
    margin-top: 72px;

  }
  .title {
    border-bottom: 1px solid #54420f;
    margin-bottom: 0;
  }
}

@media (max-width: $ExtraLarge) {
  .tech {
    background: none;
  }
}

