@import "../components/variables";

.tech {
  background-size: cover;
  background: url("../images/technologies/back.svg") no-repeat 44% 90%;
  @include l_max {
    background: none;

  }

  .cardContainer {
    margin-top: 132px;
    @include m_max {
      margin-top: 72px;
    }

    .desktopCards {
      display: block;
      @include l_max {
        display: none;
      }
    }

    .mobileCards {
      display: none;
      @include l_max {
        display: block;
      }
    }
  }
}
