.root {
  outline: 0;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  color: #C5C7CD;
  width: 33px;
  height: 16px;
  font-size: 0;
}

.root:focus,
.root:hover {
  color: #1B1B1F;
}

.root.left {
  transform: rotate(180deg);
}

.root.themeHighlighted {
  color: #84858A;

}

.root.themeHighlighted:focus,
.root.themeHighlighted:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 5px #EFB104);
}
