@import '../variables';

.card {
  opacity: 0.99;
  display: grid;
  padding: 32px;

  width: 355px;
  height: 328px;


  @include l_max{
    padding: 20px;
    margin-top: 16px;
    width: 288px;
    height: 235px;
  }
  background: rgba(18, 18, 19, 0.6);

  border: 1px solid #404147;
  box-sizing: border-box;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);

  border-radius: 8px;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  .logo {
    width: 40px;
    height: 40px;
    @include m_max{
      margin-bottom: 20px;
    }
  }

  p {
    width: 256px;
    height: 76px;
    overflow: hidden;
    @include l_max{
      height: 70px;
    }
  }

  .arrowContainer {
    visibility: hidden;
    align-items: center;
    @include l_max{
      visibility: visible;
    }
    .regularArrow{
      .arrow{
        @include l_max{
          display: block;
          border-radius: 140px;
          box-sizing: border-box;
          box-shadow: inset 80px 0px 20px rgba(243, 206, 113, 0.09), -3px 0px 30px rgba(238, 195, 88, 0.38);
        }
      }
    }
  }

}

.card:hover {
  .arrowContainer {
    visibility: visible;
  }
}

.arrowContainer:hover {
  .regularArrow {
    .arrow {
      border-radius: 140px;
      box-sizing: border-box;
      box-shadow: inset 80px 0px 20px rgba(243, 206, 113, 0.09), -3px 0px 30px rgba(238, 195, 88, 0.38);
    }
  }
}
