$Small: "576px";

.card {
  opacity: 0.98;
  display: grid;
  padding: 32px;

  position: static;
  width: 355px;
  height: 328px;
  left: 0;
  top: 0;

  background: rgba(18, 18, 19, 0.6);
  /* Black/Dark Gray */

  border: 1px solid #404147;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;

  /* Inside auto layout */

  order: 0;
  flex-grow: 0;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 24px;
  }

  p {
    width: 256px;
    height: 66px;
    overflow: hidden
  }

  .arrow{
    .nav-link{
      padding: 0;
    }
  }
}

.card:hover {
  .arrow {
    display: block;
    visibility: visible;
  }
}

.arrow {
  visibility: hidden;
}

p {
  font-family: Halvar Mittelschrift, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 16px;

  a {
    color: #ffffff;
  }
}

h3 {
  font-family: Halvar Mittelschrift, sans-serif;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 10px;
}

@media (max-width: $Small) {
  .card {
    padding: 20px;
    margin-top: 16px;
    width: 288px;
    height: 235px;

    h3 {
      font-size: 18px;
    }

    img {
      margin-bottom: 20px;
    }
  }
}
