.root {
  display: flex;
  text-decoration: none;
  width: 236px;
  height: 298px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .root {
    width: 275px;
    height: 326px;
  }
}

@media (min-width: 1440px) {
  .root {
    width: 283px;
    height: 358px;
  }
}
