.workProcess {
}

.button{
  height: 184px;
  width: 184px;
  border-radius: 50%;
}

.workProcessItem {
  margin-bottom: 368px;
  font-family: Halvar Breit Bd, sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.rightItemsAlign {
  margin-top: 52px;
}
