.root {
  background-color: #121213;
  color: #ffffff;
}

.root ul {
  list-style: none;
  padding: 46px 0 80px;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .root ul {
    flex-wrap: initial;
  }
}

.root ul > li > span {
  font-size: 40px;
  line-height: 46px;
  font-family: var(--font-family-Halvar-Breit-XBd);
}

.root ul > li > p {
  max-width: 152px;
  margin-left: auto;
  margin-right: auto;
}
.root ul > li {
  text-align: center;
  flex: 1 0 50%;
  padding: 0 12px;
}

@media (min-width: 768px) {
  .root ul > li {
    flex: initial;
  }
}

@media (min-width: 1440px) {
  .root ul > li > span {
    font-size: 56px;
    line-height: 64px;
  }
}

.root.light {
  background-color: #ffffff;
  color: #121213;
}
